<div class="banner">
    <h2>Lets Work Together!</h2>
    <a href="mailto:dev@joeyschrader.com">Email Me</a>
    <p>I provide Front End Development Consulting Services. If your company has long overdue Front End Developement tasks, I may be able to help out.  Please email me and we can set up an intorductory call to discuss your project's needs.</p>
</div>