<section class="contact-section">
    <h2 class="contact-title">Contact Me</h2>
    <form action="/contact" id="contact-form" method="post" role="form">
                <input
                    id="name"
                    class="form-field"
                    name="name"
                    type="text"
                    placeholder="Your name"
                    required
                />

                <input
                    id="email"
                    class="form-field"
                    name="email"
                    type="text"
                    placeholder="Your email"
                    required
                />

                <textarea
                    id="message"
                    name="message"
                    placeholder="Your message"
                    rows="7d"
                    required
                ></textarea>

            <button id="submit-button" type="submit">SUBMIT</button>
    </form>
</section>