<section class="skills-section">
    <h2 class="skills-title">Portfolio</h2>
    <div class="skills-container">
        {{#each projects}}
            <div class="skill-card">
                <img
                    class="skill-logo"
                    src={{this.vector}}
                />
                <p class="skill-label">{{this.label}}</p>
            </div>
        {{/each}}
    </div>
</section>