<section class="carousel-section">
    <h2 class="carousel-title">Portfolio</h2>
    <div class="carousel-content">
        {{#each projects}}
            <div class="carousel-card">
                <img
                    class="card-logo"
                    src={{this.vector}}
                />
                <p class="card-label">{{this.label}}</p>
            </div>
        {{/each}}
    </div>
</section>