<section class="skills-section">
    <h2 class="skills-title">Repositories</h2>
    <div class="skills-container">
        {{#each repos}}
            <div class="skill-card">
                <a target="_blank" href={{this.svn_url}}>{{this.name}}</a>
            </div>
        {{/each}}
    </div>
</section>