<div class="social-wrapper">
    {{#each social}}
        <a
            href={{this.url}}
            class="social-link"
            target="_blank"
        >
            <img
                class="social-image"
                src={{this.vector}}
                class="social-image"
            />
            <p class="social-label">{{this.label}}</p>
        </a>
    {{/each}}
</div>