body {
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

header {
    align-items: center;
    background-color: #0a8054;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0;
}

header h2 {
    margin: 0;
}

.joey-avatar {
    height: 250px;
    width: 250px;
}

.social-wrapper {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.social-link {
    text-decoration: none;
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-link:hover {
    background-color: gainsboro;
}

.social-image {
    width: 18px;
    height: 18px;
    margin: 0px 0px 12px 0px;
}

.social-label {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.carousel-section {
    padding: 24px 8px;
}

.carousel-title {
    padding: 0 16px;
    color: #3F3F3F;
}

.carousel-content {
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

.carousel-card {
    align-items: center;
    border-radius: 3px;
    border: 1px solid gainsboro;
    box-shadow: 4px 2px 4px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 8px;
    padding: 16px 16px 0 16px;
    width: 96px;
}

.repos-card {
    align-items: center;
    border-radius: 3px;
    border: 1px solid gainsboro;
    box-shadow: 4px 2px 4px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 8px;
    padding: 16px 16px 16px 16px;
    font-size: 16px;
}

.repos-card:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.repo-link {
    color: gray;
    text-decoration: none;
}


.card-logo {
    width: 72px;
    height: 72px;
    margin: 0 24px;
}

.card-label {
    width: 96px;
    font-size: 14px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

footer {
    background-color: #0a8054;
}

/* @media (max-width: 600px) {

} */